<html lang="en">
<head>
  <title>Renju</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href='styles.css'>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet" type="text/css">
  <link href="http://docs.justinav.info/cfbc.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<header class="lv-bg">
  <h1 class="site-title">Renju</h1>
  <p>and how to teach a machine</p>
</header>

<div class="container-fluid inner">
  <table class="tableizer-table">
    <% 15.times do |i| %>
      <tr>
        <% 15.times do |o| %>
          <%= "<td id=#{i + 1}_#{o + 1}></td>" %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
