<html lang="en">
<head>
  <title>Renju</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" type="text/css" href='game.css'>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet" type="text/css">
  <link href="http://docs.justinav.info/cfbc.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type='text/javascript' src='game.js'></script>
</head>

<header class="lv-bg">
  <h1 class="site-title"><a href='/'>Renju</a></h1>
  <p>how to teach a machine</p>
</header>

<div class="container-fluid inner">
  <table class="tableizer-table">
    <% (1..grid_size).to_a.reverse.each do |o| %>
      <tr>
        <% ('a'..'z').to_a.first(grid_size).each do |l| %>
          <%= "<td id=#{l}#{o}></td>" %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
